<em><em><!DOCTYPE html>
<html>
<head>
<title>Qualit&agrave;</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
 </head>
 <body>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  <div class="container">
  <div class="row ">
  <div class="col-md-9">
 
    <p></p>
    <h3>Complessit&agrave; del codice</h3>
    <p>Le metriche utilizzate sono state le seguenti:
    <ul>
    <li>VG: complessit&agrave; ciclomatica di McCabe;</li>
    <li>NBD: nested block depth;</li>
    </ul>
    </p>
    <p> I risultati sono rappresentati in figura. </p>
    <p align="center"> <img src="img/dimens/comp.png" class="img-responsive"/></p>
    
    <p></p>
    <h3>Livello di accoppiamento</h3>
	<p>Le metriche  utilizzate sono state le seguenti:
    <ul>
    <li>I: instabilit&agrave;;</li>
    </ul>
    <p> I risultati sono rappresentati in figura. </p>
    <p align="center"> <img src="img/dimens/acc.png" class="img-responsive"/></p>
    </p>
    <p></p>
    <h3>Livello di coesione</h3>
    <p>Le metriche scelte sono le seguenti:
    <ul>
    <li>A: astrazione;</li>
    <li>NORM: numero di metodi sovrascitti;</li>
    <li>DIT: profondit&agrave; di una gerarchia.</li>
    </ul>
     <p> I risultati sono rappresentati in figura. </p>
    <p align="center"> <img src="img/dimens/coe.png" class="img-responsive"/></p>
    </p>
    <p></p>
    
    <h3>Analisi di metriche Open Source</h3>
    <p>I valori delle metriche ottenuti si riferiscono all'intero progetto e non sono suddivisi per release.
    Le metriche analizzate sono le seguenti:</p>
    <ul>
     <li>Numero medio di major release per anno: 0,417;</li>
     <li>Indice dei bug chiusi (numero di bug chiusi/numero di totale di bug): 0,81;</li>
     <li>Indice di altre richieste soddisfatte (n° di richieste soddisfatte/n° totale di richieste): 0,81;</li>
     <li>Numero medio di thread per anno: 132,08;</li>
     <li>Numero di forum: 1;</li>
     <li>Numero di FAQ:
      <p align="center"> <img src="img/dimens/faq.png" class="img-responsive"/></p>
      </li>
      <li>Numero di download per release fino alla data attuale (2016/01/11):
      <p></p>
      <ul>
      <li>06/06/2002: <b>1,106;</b></li>
      <li>06/01/2004: <b>5,296;</b></li>
      <li>19/09/2004: <b>7,229;</b></li>
      <li>08/10/2007: <b>15,832;</b></li>
      <li>19/08/2014: <b>11,995.</b></li>
      </ul>
      </li>
    </ul>
  </div>  
  </div>
  </div>
 </div>
</body>
</html>