<em><em><!DOCTYPE html>
<html>
<head>
<title>Qualit&agrave;</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
 </head>
 <body>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  <div class="container">
  <div class="row ">
  <div class="col-md-9">
 
    <p></p>
    <h3>Analisi Dimensionale</h3>
    <p>Le metriche utilizzate sono state le seguenti:
    <ul>
    <li>NOP: numero di package;</li>
    <li>NOM: numero di metodi;</li>
    <li>NOC: numero di classi;</li>
    <li>NOF: numero di attributi;</li>
    </ul>
    </p>
    <p> I risultati dell'analisi dimensionale sono rappresentati in figura </p>
    <p align="center"> <img src="img/dimens/dim.png" class="img-responsive"/></p>
    <p></p>
    

	<h4>LOC</h4>
	<p align="center"> <img src="img/dimens/loc.png" class="img-responsive"/></p>
    <p></p>
     
   
  </div>  
  </div>
  </div>
 </div>
</body>
</html>