<em><em><!DOCTYPE html>
<html>
<head>
<title>Qualit&agrave;</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
 </head>
 <body>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  <div class="container">
  <div class="row ">
  <div class="col-md-9">
 
    <h3>Analisi di Manutenibilit&agrave;</h3>
  <p align="justify">La manutenibilit&agrave; di un sistema si compone di quattro sottocaratteristiche:
  <ul>
  <li>Analizzabilit&agrave;;</li>
  <li>Modificabilit&agrave;;</li>
  <li>Stabilit&agrave;;</li>
  <li>Testabilit&agrave;.
  </li>
  </ul>
  Le varie sottocaratteristiche sono state misurate attraverso delle metriche fornite dai technical reports ISO/IEC 9126-2, 3 e 4.
  Il fattore di manutenibilit&agrave; &egrave; stato calcolato avendo come riferimento la seguente tabella derivata dallo standard.
  <p align="center"> <img src="img/table.png" class="img-responsive"/></p>
  L'interpretazione della tabella &egrave; la seguente: il fattore di manutenibilit&agrave; &egrave; descritto dai quattro criteri gi&agrave; discussi      	   precedentemente. I singoli criteri dipendono dalle metriche assegnate in accordo con uno specifico peso.
  <p align="justify"></p>
  Le metriche fornite dai technical reports sono le seguenti:
  
  <ul>
    <li>CBO (Coupling Between Object Classes):accoppiamento tra le classi di oggetti;</li>
    <li>NOM (Number of Method): numero medio di metodi in una classe;</li>
    <li>NOC (Number of Class): numero di sottoclassi che dipendono immediatamente da una classe di una gerarchia;</li>
    <li>LCOM (Lock of Coesione Method): misura il numero di metodi che accedono a uno o più variabili di istanza in comune a una 		    classe;</li>
    <li>DIT (Depth of Inheritance): misura la profondità dell'albero di ereditarietà.</li>
  </ul>
  
  I grafici sottostanti riportano i valori medi delle singole metriche calcolate sulle cinque versioni del sistema software. Ad ogni   metrica sono stati assocciati dei valori soglia forniti da uno studio sulle metriche OO.
   <p align="justify"></p>
  
  <div class="row">
    <div class="col-md-6">
	<p align="center"> <img src="img/metrics/CBO.PNG" class="img-responsive"/></p>
    </div>
    <div class="col-md-6">
	<p align="center"> <img src="img/metrics/NOC.PNG" class="img-responsive"/></p>
    </div>
   </div>
   <div class="row">
    <div class="col-md-6">
	<p align="center"> <img src="img/metrics/LCOM.PNG" class="img-responsive"/></p>
    </div>
    <div class="col-md-6">
	<p align="center"> <img src="img/metrics/DIT.PNG" class="img-responsive"/></p>
    </div>
    </div>
     <div class="row">
    <div class="col-md-6">
	<p align="center"> <img src="img/metrics/NOM.PNG" class="img-responsive"/></p>
    </div>
      <div class="col-md-6">
	<p align="justify"></p>
    </div>
    </div>
  </p>
  <p align="justify"></p>
  <p align="justify"></p>
  
   <h4>Analizzabilit&agrave;</h4>
   <p align="justify">L'analizzabilit&agrave; rappresenta la facilit&agrave; con la quale &egrave; possibile analizzare il codice per localizzare un errore nello  	   stesso.</p>
   <p align="center"> <img src="img/manuten/ana.png" class="img-responsive"/></p>
   <h4>Modificabilit&agrave;</h4>
   <p align="justify">La modificabilit&agrave; rappresenta la capacit&agrave; del prodotto software di permettere l'implementazione di una specificata modifica (sostituzioni  componenti).</p>
    <p align="center"> <img src="img/manuten/mod.png" class="img-responsive"/></p>
   <h4>Stabilit&agrave;</h4>
   <p align="justify">LA stabilit&agrave; rappresenta la capacit&agrave; del software di evitare effetti inaspettati derivanti da modifiche errate.</p>
    <p align="center"> <img src="img/manuten/sta.png" class="img-responsive"/></p>
   <h4>Testabilit&agrave;</h4>
   <p align="justify">La testabilit&agrave; rappresenta la capacit&agrave; di essere facilmente testato per validare le modifiche apportate al software. </p>
    <p align="center"> <img src="img/manuten/test.png" class="img-responsive"/></p>
   <h4>Manutenibilit&agrave;</h4>
    <p align="center"> <img src="img/manuten/man.png" class="img-responsive"/></p>
    
   <p align="justify"></p>
   <p align="justify"></p>
   
   <p align="justify"></p>
    <h3>Conclusioni</h3>
    <p align="justify">Di seguito vengono riportati gli istogrammi relativi alle sottocaratteristiche della manutenibilit&agrave;.</p>
    <p align="center"> <img src="img/manuten/man_2.png" class="img-responsive"/></p>
    <p align="justify">
    I valori pi&ugrave; bassi delle sottocaratteristiche della manutenibilità si evidenziano nella seconda e terza 
    release del sistema, nelle quali si &egrave; verificato l'aggiunta delle maggiori funzionalit&agrave; supportate dal
    sistema. Tali funzionalit&agrave; fanno riferimento all'implementazione dei moduli relativi l'interfaccia grafica, il retrace 	e l'ottimizzazione del bytecode. A partire dalla quarta release del sistema sono stati effettuati molteplici interventi di refactoring e manutenzione preventiva. Tali interventi giustificano l'aumento dei valori di stabilità e manutenibilità del sistema. Ulteriori interventi si sono verificati al rilascio della quinta release del sistema, in cui &egrave; stato compiuto un maggiore sforzo di reingegnerizzazione.
    </p>
     <h3>Approfondimento: evoluzione dell'architettura</h3>
    <p align="justify"> In aggiunta all'analisi architetturale delle singole versioni del sistema software è stata analizzata l'evoluzione
    del sistema focalizzando l'attenzione sui cambiamenti nei packages e sulle loro interazioni. In particolare, &egrave; stata
    considerata la metrica archietturale: CDI (Core Design Instability), la quale valuta i cambiamenti eseguiti nei packages  		    quando l'architettura core del sistema evolve. Valori bassi di tale metrica implicano l'introduzione di pochi cambiamenti tra    una release N e una release N+1. </p>
   <p align="justify">
   In accordo con lo studio condotto in "Lerina Aversano, Marco Molfetta, and Maria Tortorella. <i>Evaluating Architecture Stability of Software Projects</i>" il CDI è stato calcolato nel seguente modo:
   <p align="center"><b>CDI = (b + c) / m</b></p>
   <p align="justify">dove:</p>
   <ul>
   <li><b>m</b>: numero dei packages presenti nell'extended core di una release N;</li>
   <li><b>b</b>: numero di nuovi packages aggiunti all'extended core della release N+1;</li>
   <li><b>c</b>: numero di nuovi packages aggiunti all'extended core della release N che non
   sono presenti nella release N+1;</li>
   </ul>
   <p >
   Per poter calcolare i parametri della formula bisogna definire dapprima l'extended core di una release: l'extended core &egrave; composto da quei packages che producono almento il 20% del totale delle interazioni tra
   packages. La metrica utilizzata per valutare le interazioni &egrave; il FAN-IN di un package.
   </p>
     <p align="center"> <img src="img/manuten/CDI.png" class="img-responsive"/></p>
   </p>
   <p >I risulatati ottenuti confermano lo studio preliminare svolto sull'architettura del software, in quanto dal grafico si 
   evidenzia che l'aggiunta di maggiori funzionalit&agrave; si verifica nel passaggio tra la seconda e terza release. L'archittetura del sistema si stabilizza tra la quarta e quinta release perchè l'attenzione si &egrave; focalizzata sull'attivit&agrave; di reingegnerizzazione del sistema.</p>
  </div>  
  </div>
  </div>
 </div>
</body>
</html>