<em><em><!DOCTYPE html>
<html>
<head>
<title>Qualit&agrave;</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
 </head>
 <body>
   <!-- JS -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  <div class="container">
  <div class="row ">
  <div class="col-md-9">
 
  <h2>Analisi di Qualit&agrave;</h2>
  <div align="justify">
  <p>In parallelo all'analisi dell'elevoluzione architetturale del sistema software, &egrave; stata condotta un'analisi qualitativa e quantitativa sulle major release del sistema. A tale scopo sono state scelte diverse metriche per caratterizzarne determinati aspetti. Le metriche sono state estratte mediante l'utilizzo del tool Metrics. Poich&egrave; metriche diverse presentano scale 
  di valori differenti, i rispettivi valori sono stati normalizzati nell'intervallo [0:1] con la tecnica della Min-Max   Normalization.
  
  La descrizione del modello di qualit&agrave; del software è stato effettuato utilizzando le normative e linee guida dello standard ISO/IEC 9126. Il modello propone un approccio alla qualità in modo che le società di software possano migliorare l'organizzazione e i processi e quindi la qualità dei propri prodotti software. Il modello di qualità si compone di quattro parti fondamentali:
  <ul>
  <li>Modello della qualità del software;</li>
  <li>Metriche per la qualità esterna;</li>
  <li>Metriche per la qualità interna;</li>
  <li>Metriche per la qualità in uso.</li>
  </ul>
  <p></p>
  Il modello di qualità  stabilito nella prima parte dello standard, ISO/IEC 9126-1, è classificato da sei caratteristiche generali: 
  <p></p>
  <ul>
  <li>Funzionalità: è la capacità di un prodotto software di fornire funzioni che soddisfano esigenze stabilite, necessarie per operare sotto condizioni specifiche.</li>
  <li>Affidabilità: è la capacità del prodotto software di mantenere uno specificato livello di prestazioni quando usato in date condizioni per un dato periodo.</li>
  <li>Efficienza: è la capacità di fornire appropriate prestazioni relativamente alla quantità di risorse usate.</li>
  <li>Usabilità:  è la capacità del prodotto software di essere capito, appreso, usato e benaccetto dall'utente, quando usato sotto condizioni specificate.</li>
  <li>Manutenibilità:  è la capacità del software di essere modificato, includendo correzioni, miglioramenti o adattamenti.</li>
  <li>Portabilità: è la capacità del software di essere trasportato da un ambiente di lavoro ad un altro. (Ambiente che può variare dall'hardware al sistema operativo).</li>
  </ul>
  
  <p align="center"> <img src="img/model.png" class="img-responsive"/></p>
  <p>L'analisi di qualità si è concentrata in particolar modo sullo studio della manutenibilità e sull'evoluzione del sistema  		  software. 
  </p>
  
  </div>  
  </div>
  </div>
 </div>
</body>
</html>