  <em><em><!DOCTYPE html>
  <html>
  <head>
  <title>ProGuard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalità compatibilità IE -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
   
  </head>
  <body>
  <!-- JS -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js"></script>
  <!-- JS -->
  
  <div class="container">
  
    <!-- NavBar -->
   <nav class="navbar navbar-default " role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Espandi barra di navigazione</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="main.html"><!-- <img width="50" src="" class="img-responsive">--></a>
    </div>
  
    <!—Elementi della barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse paddT">
      <ul class="nav navbar-nav">
        <li class="active"><a href="main.html">Home</a></li>
        <li><a href="#">Quality</a></li>
       
      </ul>
    </div>
   </nav>
   <!-- End NavBar -->

   
  <!-- Sections Document -->
    <div class="jumbotron">
   		<div class="row ">
 
      		<div class="col-md-12">
       
        
          <div class="col-md-6">
            <h1>ProGuard</h1>
          <p>Giuseppe Fusco - Giovanni Di Blasio</p>
          </div>
           <div class="col-md-6">
           <img src="img/logo.jpg">
           </div>
       </div>
      </div>
  </div>
  
  <!-- Sezione Centrale -->
  <div class="row ">
      <div class="col-md-3">
          
          <ul class="list-group">
          	<li class="list-group-item"><a id="v1" href="#" name="version_1.html">ProGuard 1.0</a>
            <ul>
            	 <li class="list-group-item"><a id="v11" href="#" name="version_1_1.html">ProGuard 1.0</a></li>
            </ul>
            </li>
            <p></p>
           	<li class="list-group-item"><a id="v2" href="#" name="version_2.html">ProGuard 2.0</a>
            <ul>
            	 <li class="list-group-item"><a id="v22" href="#" name="version_1_1.html">ProGuard 2.X</a></li>
            </ul>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v3" href="#" name="version_1.html">ProGuard 3.0</a>
            <ul>
            	 <li class="list-group-item"><a id="v33" href="#" name="version_1_1.html">ProGuard 3.X</a></li>
            </ul>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v4" href="#" name="version_1.html">ProGuard 4.0</a>
            <ul>
            	 <li class="list-group-item"><a id="v44" href="#" name="version_1_1.html">ProGuard 4.X</a></li>
            </ul>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v5" href="#" name="version_1.html">ProGuard 5.0</a>
            <ul>
            	 <li class="list-group-item"><a id="v55" href="#" name="version_1_1.html">ProGuard 5.X</a></li>
            </ul>
            </li>  
          </ul>
      </div>
   <div id="view" class="col-md-9 padd"> 
     <h2>Introduction</h2>
     <p> bfhnvjdck</p>
     
        <h2>Desc</h2>
    	 <p> bfhnvjdck</p>
   </div>
  </div>
  
  </div>
  
  </div> <!-- ENd container -->
  
  </body>
  </html></em>