  <em><em><!DOCTYPE html>
  <html>
  <head>
  <title>ProGuard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalità compatibilità IE -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
   
  </head>
  <body>
  <!-- JS -->
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  
  <div class="container">
    <!-- NavBar -->
   <nav class="navbar navbar-default " role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Espandi barra di navigazione</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="main.html"><!-- <img width="50" src="" class="img-responsive">--></a>
    </div>
  
    <!—Elementi della barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse paddT">
      <ul class="nav navbar-nav">
        <li class="active"><a href="main.html">Home</a></li>
         <!--<li><a href="#">Quality</a></li> -->
        <li><a href="about.html">About</a></li>
       
      </ul>
    </div>
   </nav>
   <!-- End NavBar -->

   
  <!-- Sections Document -->
    <div class="jumbotron">
   		<div class="row">
    	<div class="col-md-12">
          <div class="col-md-6">
            <h1>ProGuard</h1>
          </div>
           <div class="col-md-6">
           <img src="img/logo.jpg">
           </div>
       </div>
      </div>
  </div>

  <!-- Sezione Centrale -->
  <div class="row ">

      <div class="col-md-3">
          <ul class="list-group">
          <li class="list-group-item"><b>Architettura</b>
            <p></p>
          <ul class="list-group">
          	<li class="list-group-item"><a id="v1" href="#" name="version_1.html">ProGuard 1.0</a>
            </li>
            <p></p>
           	<li class="list-group-item"><a id="v2" href="#" name="version_2.html">ProGuard 2.0</a>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v3" href="#" name="version_3.html">ProGuard 3.0</a>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v4" href="#" name="version_4.html">ProGuard 4.0</a>
            </li>
            <p></p>
            	<li class="list-group-item"><a id="v5" href="#" name="version_5.html">ProGuard 5.0</a>
            </li>  
          </ul>
          </li>
            <p></p>
            	<li class="list-group-item"><a id="v6" href="#" name="project_conf.html">
                Configurazione del progetto</a>
            </li>  
            <p></p>
            	<li class="list-group-item"><a id="v7" href="#" name="version_5.html">Qualit&agrave;</a>
            </li>  
          </ul>
      </div>
   <div id="view" class="col-md-9 padd"> 
     <h2>Introduzione</h2>
     <p align="justify">ProGuard &egrave; un tool implementato in Java, per effettuare lo shrink e l'offuscamento del bytecode 	   	 Java.
     ProGuard riceve in input un file .jar e restituisce in output un nuovo file .jar pi&ugrave; compatto, limitandone
     il reverse-engineering.
     Il file jar prodotto necessita di minori requisiti di memoria e pu&ograve; essere trasferito velocemente sulla rete.
     Le entit&agrave; modellate dal sistema, quindi, riflettono le caratteristiche di un oggetto Java.
     </p>
     
        <h2>Licenza</h2>
    	 <p> Proguard &egrave; gratuito. 
         Chiunque &egrave; libero di utilizzare, modificare e distribuire il codice, a patto che rispetti i diritti
         d'autore e la licenza di distribuzione.
         <p>Il programma principale &egrave; distribuito sotto la GNU General Public License (GPL)
         (GPL2 a partire dalla versione 4.0 del sistema).</p>
         <p>Il pacchetto proguard.classfile &egrave; distribuito sotto la licenza GNU Lesser General Public License
         (LGPL), rispettando la licenza utilizzata per RetroGuard di Mark Welch, da cui il codice della classe di
         analisi proviene.</p>
         <p>Entrambe queste licenze sono state pubblicate dalla Free Software Foundation (FSF).</p>
         <p>La documentazione pu&ograve; essere ridistribuita solo senza modifiche.</p>
   </div>
  </div>
  
  </div>
  
  </div> <!-- ENd container -->
  
  </body>
  </html></em>