<html>
<head>
  <title>ProGuard 4.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Introduzione</h2>
      <div align="justify">
       La configurazione del progetto mantiene la stessa struttura in tutte le release:
            <p></p>
       <ul>
       	<li><b>docs:</b>
            <p>La documentazione completa, le licenze, il manuale e le FAQ. Tutto in formato html.
            	</p>
        	</li>
            <p></p>
       	<li><b>examples:</b>
            <p>File di configurazione di esempio.
            	</p>
        	</li>
            <p></p>
       	<li><b>lib:</b>
            <p>I file jars compilati e pronti per essere utilizzati.
            	</p>
        	</li>
            <p></p>
       	<li><b>src:</b>
            <p>Il codice sorgente.
            	</p>
        	</li>
       </ul>
       <p>
       Nella release 5.0 vengono aggiunte ulteriori directory:
       <ul>
       	<li><b>bin:</b>
            <p>Scripts per eseguire Proguard, la GUI e ReTrace.
            	</p>
        	</li>
            <p></p>
       	<li><b>build:</b>
            <p>Scripts di build alternativi.
            	</p>
        	</li>
       </ul>
       </p>
            <p></p>
       <p>
       	In ogni release viene aggiornata la documentazione e l'intera configurazione del progetto.
        </p>
      </div>
  </div>  
  </div>
  </div>
 </div> <!--End Container -->
</body>
</html>