<em><em><!DOCTYPE html>
<html>
<head>
<title>Qualit&agrave;</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->  
<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
<link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
<link href="css/nav.css" rel="stylesheet" media="screen"> <!-- CSS -->
 </head>
 <body>
  <!-- JS -->
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/page_select.js?n=1"></script>
  <!-- JS -->
  <div class="container">
  <div class="row ">
  <div class="col-md-9">
  <ul class="nav nav-tabs" >
 	<li><button id="p1"  name="qualita.html" type="button" class="btn btn-default">Introduzione Qualit&agrave;</button></li>
 	<li><button id="p2"  name="analisi_man.html" type="button" class="btn btn-default">Analisi Manutenibilit&agrave;
    </button></li>
 	<li><button id="p3"  name="analisi_dim.html" type="button" class="btn btn-default">Analisi Dimensionale</button></li>
	<li><button id="p4"  name="altre_analisi.html" type="button" class="btn btn-default">Ulteriori analisi</button></li>
 </ul>
 <div id="area">
 <h2>Analisi di Qualit&agrave;</h2>
  <div align="justify">
  <p>In parallelo all'analisi dell'elevoluzione architetturale del sistema software, &egrave; stata condotta un'analisi qualitativa e quantitativa sulle major release del sistema. A tale scopo sono state scelte diverse metriche per caratterizzarne determinati aspetti. Le metriche sono state estratte mediante l'utilizzo del tool Metrics. Poich&egrave; metriche diverse presentano scale 
  di valori differenti, i rispettivi valori sono stati normalizzati nell'intervallo [0:1] con la tecnica della Min-Max   Normalization.
  
  La descrizione del modello di qualit&agrave; del software &egrave; stato effettuato utilizzando le normative e linee guida dello standard ISO/IEC 9126. Il modello propone un approccio alla qualit&agrave; in modo che le societ&agrave; di software possano migliorare l'organizzazione e i processi e quindi la qualit&agrave; dei propri prodotti software. Il modello di qualit&agrave; si compone di quattro parti fondamentali:
  <ul>
  <li>Modello della qualit&agrave; del software;</li>
  <li>Metriche per la qualit&agrave; esterna;</li>
  <li>Metriche per la qualit&agrave; interna;</li>
  <li>Metriche per la qualit&agrave; in uso.</li>
  </ul>
  <p></p>
  Il modello di qualit&agrave;  stabilito nella prima parte dello standard, ISO/IEC 9126-1, &egrave; classificato da sei caratteristiche generali: 
  <p></p>
  <ul>
  <li>Funzionalit&agrave;: &egrave; la capacit&agrave; di un prodotto software di fornire funzioni che soddisfano esigenze stabilite, necessarie per operare sotto condizioni specifiche.</li>
  <li>Affidabilit&agrave;: &egrave; la capacit&agrave; del prodotto software di mantenere uno specificato livello di prestazioni quando usato in date condizioni per un dato periodo.</li>
  <li>Efficienza: &egrave; la capacit&agrave; di fornire appropriate prestazioni relativamente alla quantit&agrave; di risorse usate.</li>
  <li>Usabilit&agrave;:  &egrave; la capacit&agrave; del prodotto software di essere capito, appreso, usato e benaccetto dall'utente, quando usato sotto condizioni specificate.</li>
  <li>Manutenibilit&agrave;:  &egrave; la capacit&agrave; del software di essere modificato, includendo correzioni, miglioramenti o adattamenti.</li>
  <li>Portabilit&agrave;: &egrave; la capacit&agrave; del software di essere trasportato da un ambiente di lavoro ad un altro. (Ambiente che può variare dall'hardware al sistema operativo).</li>
  </ul>
  
  <p align="center"> <img src="img/model.png" class="img-responsive"/></p>
  <p>L'analisi di qualit&agrave; si &egrave; concentrata in particolar modo sullo studio della manutenibilit&agrave; e sull'evoluzione del sistema  		  software. 
  </p>
 </div>
  </div>  
  </div>
  </div>
 </div>
</body>
</html>