<html>
<head>
  <title>ProGuard 4.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Introduzione</h2>
      <div align="justify">
       La 5.0 del sistema software presenta una reingegnerizzazione del modello architetturale.
       Inoltre, supporta nuove funzionalit&agrave;:<p>
       <ul>
       		<li>Integrazione in un processo di build Gradle;
       			</li>
       		<li>Distribuzione dei file attraverso i repository Maven;
       			</li>
       		<li>Supporto per Java 8;
       			</li>
       		<li>Conversione dei file .jar in file eseguibili su dispositivi Android;
       			</li>
       		<li>Conversione dei file .jar in file eseguibili su dispositivi Blackberry.
       			</li>
       </ul></p>
       <p align="center"> <img src="img/v4/intro.PNG" class="img-responsive"/></p>
       <p>Infine, il sistema viene anche distribuito come parte integrante dell'android SDK.</p>
      </div>

  <h2>Architettura SW</h2>
  <p>
  Il modello architetturale della versione 5.0 &egrave; stato reso conforme al relativo pattern,
  tornando allo schema adottato a partire dalla versione 3.0.
  Nella figura sottostante viene mostrata l'architettura.
  </p>
  <p align="center"> <img src="img/v5/arch.png" class="img-responsive"/></p>
  <p>
  A seguito della reingegnerizzazione molti componenti sono stati accorpati per elevare il grado di coesione
  sia del rispettivo livello sia dei componenti.
  La modifica significativa ha previsto lo spostamento del package di preverifica al livello Business Model
  </p>
   <p align="center"> <img src="img/v5/attribute.png" class="img-responsive"/></p>
  </div>  
  </div>
  </div>
 </div> <!--End Container -->
</body>
</html>