<html>
<head>
  <title>ProGuard 4.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- META -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Modalit&agrave; compatibilit&agrave; IE -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- CSS -->
  <link href="css/main.css" rel="stylesheet" media="screen"> <!-- CSS -->
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Introduzione</h2>
      <div align="justify">
       Nella versione 4.0 del sistema software &egrave; stata introdotta la preveridica del codice e altre ottimizzazioni.
       <p align="center"> <img src="img/v4/intro.PNG" class="img-responsive"/></p>
       <p>Lo step finale di preverifica aggiunge informazioni richieste dalla J2ME e migliorando il tempo di inizializzazione 
       del sistema per Java 6.</p>
        <p>
        </p>
      </div>

  <h2>Architettura SW</h2>
  <p>
  La gestione del nuovo componente di preverifica del codice e di ulteriori ottimizzazioni ha introdotto
  significativi mutamenti del modello architetturale. In particolar modo i componenti del livello Function
  si ritrovano a poter comunicare con il livello superiore, violando così il pattern architetturale.
  In Fig. 4.1 vengono mostrate le dipendenze tra i vari livelli dell'architettura.
  </p>
  <p align="center"> <img src="img/v4/arch.png" class="img-responsive"/></p>
  
  <h3>Preverivica del codice</h3>
  <p>
  Durante il caricamento dei file .class il class loader esegue sofisticate verifiche del bytecode.
  Questa analisi assicura che il codice non oltrepassi, accidentalmente o intenzionalmente, la sandbox della
  virtual machine.
  Il nuovo componente ha il compito di semplificare la fase di verifica effettuata dal previrificatore J2ME e
  dal compilatore Java 6. In questo modo i file .class vengono caricati in maniera pi&ugrave; veloce ed efficiente
  in memoria. 
  <p>In Fig. 4.2 e 4.3 vengono mostrate, rispettivamente, le classi che assolvono l'attivit&agrave; di
  preverifica e le dipendenze con gli altri componenti del sistema.</p>
	<img src="img/v4/preverify_class.png" class="img-responsive"/>
    <p>Fig. 4.2 - Class diagram del componente proguard.preferify.</p>
  </p>
 <div class="row">
    <div class="col-md-12">
     <img src="img/v4/preverify.PNG" class="img-responsive"/>
    <p>Fig. 4.3 - Dipendenze del componente proguard.preferify.</p>
    </div>
  </div>
  </div>  
  </div>
  </div>
 </div> <!--End Container -->
</body>
</html>